.coin-details-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
  height: 100%;
  width: 20%;
}

.icon {
  width: 50px;
}

.chart-with-controls-container {
  margin-top: 0;
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

.chart {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 1; */
  /* height: 100%; */
}

/* .tv-lightweight-charts {
  width: 500px;
  height: 300px;
  flex-grow: 1;
}

#chartElement {
  height: 500px;
} */

canvas {
  margin-top: 0;
}
